body {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

.logo {
    background-color:transparent;
}

.navigation {
    justify-self: end;
    
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    margin: auto;
   
}

.hero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: end;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

footer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center; 
    color: lightgrey;
}

.hero_circle {
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    text-align: right;
  }

.hero_img {
    width: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    color: lightgray;
}